<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<center>
    <div class="col-md-12">
        <h1>CSGO Site of all CT and T</h1>
    </div>
    <div class="col-md-12">

    </div>
    <div class="col-md-12">

    </div>
    <div class="col-md-12">
        <form method="POST">
            <input name="id" placeholder="Steam ID">
            <input class="btn btn-success" type="submit">
        </form>
    </div>
</center>
</body>
</html>